.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    margin: 20px;
    padding: 20px;
    width: 20rem;
    height: 20.5rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
}

.product-card-expanded {
    height: auto;
}

.product-card:hover {
    background-color: var(--secondary-color);
}

.product-title {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 5px;
    white-space: nowrap;
    overflow: hidden;
}

.product-carousel {
    display: flex;
    justify-content: center;
}

.carousel-indicator {
    display: flex;
    justify-content: center;
}

.indicator {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: var(--heading-color);
    margin: 10px 5px 5px 5px;
}

.selected {
    background-color: var(--bg-color);
}

.product-image {
    object-fit: contain;
    width: 14rem;
    height: 13rem;
}

.product-button {
    margin: 10px 10px 0 0;
    width: 35px;
    height: 35px;
    background-color: #eceff1;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.product-description {
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.product-button-long {
    margin: 12px 10px 0 0;
    width: 80px;
    height: 30px;
    background-color: #eceff1;
    color: black;
    font-weight: bold;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.product-price {
    margin: 10px 10px 0 0;
    float: right;
    font-weight: bolder;
    font-size: 20px;
}

.hidden {
    display: none;
}
