* {
    box-sizing: border-box;
}

html, body {
    background-color: #eceff1;
    color: #37474f;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

.profile {
    max-width: 500px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 2em;
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
}

.profile figure {
    margin: 0;
}

.profile figure img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 20px rgba(21, 21, 21, 0.15);
}

.profile header h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.profile header h1 small {
    display: block;
    clear: both;
    font-size: 18px;
    opacity: 0.6;
}
.profile main {
    display: block;
}
.view_details {
    position: absolute;
    top: -5000px;
    left: -5000px;
}

.box {
    padding: 10px;
}

.profile-pic {
    height: 120px;
    width: 120px;
    object-fit: contain;
}

label {
    display: block;
    cursor: pointer;
}